{% extends "guest/base.html.twig" %}

{% block title %}Accueil
{% endblock %}

{% block main %}
	<div id="imgFond">
		<img src="{{asset('assets/images/fond.png')}}" alt="image de fond">
	</div>
	<main class="container">

		<section>
			<div>
				<h1>Bienvenue sur Saveurs Collectives</h1>
				<p>Un lieu où la cuisine devient un langage universel.</p>
				<p>Ici, chacun peut partager ses recettes, découvrir celles des autres, et tisser des liens autour de plats faits avec amour.</p>
				<p>Que vous soyez chef passionné ou cuisinier du dimanche, votre savoir-faire a sa place à notre table.</p>
			</div>
		</section>

		<div class="section-wrapper">
			<section>
				<h2>Nos champions du mois</h2>
				<div>
					<div class="imgProfil"><img src="{{asset('assets/images/logo.png')}}" alt=""></div>
					<div class="imgProfil"><img src="{{asset('assets/images/logo.png')}}" alt=""></div>
					<div class="imgProfil"><img src="{{asset('assets/images/logo.png')}}" alt=""></div>
				</div>
			</section>

			<section>
				<h2>Les recettes les plus likées</h2>
				<div>
					<div class="imgProfil"><img src="{{asset('assets/images/logo.png')}}" alt=""></div>
					<div class="imgProfil"><img src="{{asset('assets/images/logo.png')}}" alt=""></div>
					<div class="imgProfil"><img src="{{asset('assets/images/logo.png')}}" alt=""></div>
					<div class="imgProfil"><img src="{{asset('assets/images/logo.png')}}" alt=""></div>

				</div>
			</section>

			<section>
				<h2>Entrées</h2>
				<div>
					<div class="imgProfil"><img src="{{asset('assets/images/logo.png')}}" alt=""></div>
					<div class="imgProfil"><img src="{{asset('assets/images/logo.png')}}" alt=""></div>
					<div class="imgProfil"><img src="{{asset('assets/images/logo.png')}}" alt=""></div>
					<div class="imgProfil"><img src="{{asset('assets/images/logo.png')}}" alt=""></div>
				</div>
			</section>
			<section>
				<h2>Plats</h2>
				<div>
					<div class="imgProfil"><img src="{{asset('assets/images/logo.png')}}" alt=""></div>
					<div class="imgProfil"><img src="{{asset('assets/images/logo.png')}}" alt=""></div>
					<div class="imgProfil"><img src="{{asset('assets/images/logo.png')}}" alt=""></div>
					<div class="imgProfil"><img src="{{asset('assets/images/logo.png')}}" alt=""></div>
				</div>
			</section>
			<section>
				<h2>Desserts</h2>
				<div>
					<div class="imgProfil"><img src="{{asset('assets/images/logo.png')}}" alt=""></div>
					<div class="imgProfil"><img src="{{asset('assets/images/logo.png')}}" alt=""></div>
					<div class="imgProfil"><img src="{{asset('assets/images/logo.png')}}" alt=""></div>
					<div class="imgProfil"><img src="{{asset('assets/images/logo.png')}}" alt=""></div>
				</div>
			</section>
		</div>
	</main>
{% endblock %}
